@{
    List<Category>? categories = ViewBag.categories;
}

<h1>Category</h1>

<ul id="categories_list">
    @foreach(var category in categories){
        <li>
            <div>
                <cite>@category.Name</cite>
                <span>@category.Id</span>
            </div>
            <div>
                <a class="btn btn-outline-warning mb-2" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">Edit</a>
                <a class="btn btn-outline-danger" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">Delete</a>
            </div>
        </li>
    }
</ul>
    
